body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Open Sans", sans-serif;
}

:root,
[data-bs-theme="light"] {
  --bs-border-radius: 2rem;
  --bs-body-font-size: 14px;
  --bs-link-color: #000;
}

:root .btn {
  --bs-btn-font-size: 14px;
}

.tab1 a.nav-link.active {
  border-bottom: solid 2px #000;
  font-weight: bold;
  padding-left: 0;
  padding-right: 0;
}

@media (min-width: 768px) {
  .md-sticky-snav {
    padding: 70px;
    position: sticky;
    top: 20px;
    min-height: 40%;
  }
}
